@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Marccello v0.2</h2>
<p></p>
<form action="google.com" method="post">
 Username:<input type="text" name="username" /> <br />
 Password:<input type="password" name="password" />
    <input type="submit" value="submit" />
    </form>

<script type="text/javascript">
<!--
    // Test to see if jQuery has been included successfully.
    $(document).ready(function() {
        $("h2 ~ p").text("It's dumblyadorable!");
    });
-->
</script>