@model Marccello.marccelloEntities2

@{
    ViewBag.Title = "Index";
}
<script>
    function thanks() {
        alert("Thank you!");
    }
</script>
<h2>Please, Select a Major...</h2>

<form method="GET" action="/Home/Index" onsubmit="thanks()">   
    <select>
        @foreach ( var m in Model.Majors )
        {
            <option value="@m.MajorCourses">@Html.DisplayFor(modelItem => m.name)</option>
        }
    </select>

    <select>
        @foreach ( var c in Model.Courses )
        {
            <option>@Html.DisplayFor(modelItem => c.name)</option>
        }
    </select>
    
    <input type="submit" name="submit" value="Submit" />
</form>