@model IEnumerable<Marccello.Major>

@{
    ViewBag.Title = "Index";
}

<h2>Please, Select a Major...</h2>

<p>
  
</p>

    
    <select>
@foreach (var item in Model) {
   <option>@Html.DisplayFor(modelItem => item.name)</option>
}
    </select>

