@model IEnumerable<Marccello.Major>

@{
    ViewBag.Title = "Select a Major";
}
<script>
    $(document).ready(function () {
        $("#MajorChoice").change(function () {
            if ($("#MajorChoice option:selected").val() != 0) {
                $("#MajorForm").submit();
            }
        });
    });
</script>
<h2>Please, Select a Major...</h2>

<form method="GET" action="/Home/Courses" id="MajorForm">
    <select name="majorID" id="MajorChoice">
        <option value=0>-- Select a Major --</option>
        @foreach ( var m in Model )
        {
            <option value="@m.major_id">@m.name</option>
        }
    </select>
</form>