@model IEnumerable<Marccello.Course>

@{
    ViewBag.Title = "Semesters";
}

<h2>Semesters</h2>
<p># of courses:  @Model.Count()</p>
@foreach (var m in Model) {
    <p>@m.course_number - @m.name</p>
}
